<div>
  <h2>Weather Alert</h2>
  <h1>Notifications</h1>
  <ul>
    <li *ngFor="let feature of weatherService.activeNotifications">
      {{feature.properties.severity}} <b (click)="weatherService.confirmNotification(feature)">confirm</b>
    </li>

  </ul>


  <h2>Active Alerts</h2>
  <div class="hwrap"><div class="hmove">
    <li *ngFor="let feature of weatherService.activeFeatures">
      <div class="hitem">{{feature.properties.event}}, {{feature.properties.headline}}, {{feature.properties.description}}</div>
        <!-- <div class="hitem"></div>
          <div class="hitem"></div> -->

    </li>
  </div></div>


</div>
