

h2 {
  margin-top: 3%;
  padding-top: 3%;
  margin-left: 35px;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 0 0 5px #ff0000, 0 0 3px #0000ff;
  max-width: fit-content;
  border: white solid 5px;
  color: #ff0000;
}

label {
  font-size: 35px;
  color: rgb(61, 34, 241);
}

p {
  font-size: 20%;
}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #eee;
}

/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }

.mat-card-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5%;
}

.mat-card-uno {
  background-color: gray;
  max-width: 75%;
  margin-bottom: 2%;
  margin-left: 4%;
  min-height: 50px;
  min-width: 50px;
}

.mat-card-deuce {
  background-color: rgb(132, 120, 120);
  max-width: 85%;

}

.alert {
  background-color: antique-white;
  padding: 2%;
}
