<div>
  <h2>Weather Alert</h2>
  <h1>Notifications</h1>
  <ul>
    <li *ngFor="let feature of weatherService.activeNotifications">
      {{feature.properties.severity}} <b (click)="weatherService.confirmNotification(feature)">confirm</b>
    </li>

  </ul>


  <h2>Active Alerts</h2>
  <ul>
    <li *ngFor="let feature of weatherService.activeFeatures">
      <b>{{feature.properties.event}}</b>
      <b>{{feature.properties.headline}}</b>
      <pre>{{feature.properties.description}}</pre>

    </li>
  </ul>


</div>
