/* You can add global styles to this file, and also import other style files */
body {
  background-color: dimgrey;
  background-image: url('https://i.postimg.cc/kXStLNF3/8-HERO-Cape-Girardeau-MO-WEB72-DPI.jpg');
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
